@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
}

@layer base {

    body {
        @apply text-foreground;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        @apply appearance-none;
        margin: 0;
    }

    input[type="number"] {
        @apply appearance-none;
    }

}


.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
    background: #0089709d !important;
    color: white !important;
}

.react-calendar__tile--active {
    background: #0089709d !important;
    color: white;

}

.react-calendar__navigation button:disabled {
    background-color: #008970 !important;
    border-top-left-radius: .7em;
    border-top-right-radius: .7em;
    color: white;
}

.react-calendar__navigation__next2-button {
    display: none;
    /* border-top-right-radius: .7em; */
}

.react-calendar__navigation__prev2-button {
    display: none;
    /* border-top-left-radius: .7em; */
}

.react-calendar__tile--now {
    background: #008970 !important;
    color: white !important;
}

.react-calendar {
    width: 100% !important;
    color: #212121;
    border: 1px solid #008970 !important;
}